@if(loading){
<div class="spinner"></div>
}
@else{
@for (cat of categories; track cat.name) {
<div>

    <h3 class="mt-3 p-2">{{ cat.name }}</h3>
    <c-carousel>
        <c-carousel-inner>
            @for (movie of moviesByCategory[cat.name]; track $index) {
            <c-carousel-item>
                <div class="container p-5 w-100 text-center">
                    <img [src]="getMovie(movie).poster_path ? iconUrl + getMovie(movie).poster_path : 'assets/logo.png'"
                        alt="{{movie}}" class="img-fluid" loading="lazy"
                        style="height: 600px; object-fit: cover; width: auto; margin: 0 auto;" />
                    <c-carousel-caption class="bg-dark text-light p-3 mt-5 mx-auto" style="max-width: 600px;">
                        <h3>{{ movie }}</h3>
                    </c-carousel-caption>
                </div>
            </c-carousel-item>
            }
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev" />
        <c-carousel-control [routerLink] caption="Next" direction="next" />

    </c-carousel>
    <div class="d-flex justify-content-center">
        <button class="btn search-btn">View Details</button>
    </div>
</div>
}
}