@if(!isMobile){
<c-carousel>
    <c-carousel-inner>
        @for (item of itemGroups; track $index) {
        <c-carousel-item>
            <div class="d-flex justify-content-center">
                <div>
                    <div class="container p-2 w-100 text-center">
                        <div>
                            <img [src]="getMovie((item[0]?.title ?? item[0]?.name) ?? item)?.poster_path ? iconUrl + getMovie((item[0]?.title ?? item[0]?.name) ?? item)?.poster_path : 'assets/logo.png'"
                                alt="{{item}}" class="img-fluid" loading="lazy"
                                [routerLink]="[`/${itemType}-details`, getMovie((item[0]?.title ?? item[0]?.name) ?? item)?.id]" />
                        </div>

                        <c-carousel-caption class="text-light title-caption">
                            <span class="title-movie">{{ getMovie((item[0]?.title ?? item[0]?.name) ?? item)?.title ?? getMovie((item[0]?.title ?? item[0]?.name) ?? item)?.name }}</span>
                        </c-carousel-caption>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button [routerLink]="[`/${itemType}-details`, getMovie((item[0]?.title ?? item[0]?.name) ?? item)?.id]" class="btn search-btn">
                            View Details
                        </button>
                    </div>
                </div>
                <div>
                    <div class="container p-2 w-100 text-center">
                        <div>
                            <img [src]="getMovie((item[1]?.title ?? item[1]?.name) ?? item)?.poster_path ? iconUrl + getMovie((item[1]?.title ?? item[1]?.name) ?? item)?.poster_path : 'assets/logo.png'"
                                alt="{{item}}" class="img-fluid" loading="lazy"
                                [routerLink]="[`/${itemType}-details`, getMovie((item[1]?.title ?? item[1]?.name) ?? item)?.id]" />
                        </div>

                        <c-carousel-caption class="text-light title-caption">
                            <span class="title-movie">{{ getMovie((item[1]?.title ?? item[1]?.name) ?? item)?.title ?? getMovie((item[1]?.title ?? item[1]?.name) ?? item)?.name }}</span>
                        </c-carousel-caption>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button [routerLink]="[`/${itemType}-details`, getMovie((item[1]?.title ?? item[1]?.name) ?? item)?.id]" class="btn search-btn">
                            View Details
                        </button>
                    </div>
                </div>
                <div>
                    <div class="container p-2 w-100 text-center">
                        <div>
                            <img [src]="getMovie((item[2]?.title ?? item[2]?.name) ?? item)?.poster_path ? iconUrl + getMovie((item[2]?.title ?? item[2]?.name) ?? item)?.poster_path : 'assets/logo.png'"
                                alt="{{item}}" class="img-fluid" loading="lazy"
                                [routerLink]="[`/${itemType}-details`, getMovie((item[2]?.title ?? item[2]?.name) ?? item)?.id]" />
                        </div>

                        <c-carousel-caption class="text-light title-caption">
                            <span class="title-movie">{{ getMovie((item[2]?.title ?? item[2]?.name) ?? item)?.title ?? getMovie((item[2]?.title ?? item[2]?.name) ?? item)?.name  }}</span>
                        </c-carousel-caption>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button [routerLink]="[`/${itemType}-details`, getMovie((item[2]?.title ?? item[2]?.name) ?? item)?.id]" class="btn search-btn">
                            View Details
                        </button>
                    </div>
                </div>
                <div>
                    <div class="container p-2 w-100 text-center">
                        <div>
                            <img [src]="getMovie((item[3]?.title ?? item[3]?.name) ?? item)?.poster_path ? iconUrl + getMovie((item[3]?.title ?? item[3]?.name) ?? item)?.poster_path : 'assets/logo.png'"
                                alt="{{item}}" class="img-fluid" loading="lazy"
                                [routerLink]="[`/${itemType}-details`, getMovie((item[3]?.title ?? item[3]?.name) ?? item)?.id]" />
                        </div>

                        <c-carousel-caption class="text-light title-caption">
                            <span class="title-movie">{{ getMovie((item[3]?.title ?? item[3]?.name) ?? item)?.title ?? getMovie((item[3]?.title ?? item[3]?.name) ?? item)?.name }}</span>
                        </c-carousel-caption>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button [routerLink]="[`/${itemType}-details`, getMovie((item[3]?.title ?? item[3]?.name) ?? item)?.id]" class="btn search-btn">
                            View Details
                        </button>
                    </div>
                </div>

            </div>


        </c-carousel-item>

        }
    </c-carousel-inner>
    <c-carousel-control caption="Previous" direction="prev" />
    <c-carousel-control caption="Next" direction="next" />

</c-carousel>
}
@else {
<c-carousel>
    <c-carousel-inner>
        @for (item of listItem; track $index) {
        <c-carousel-item>
            <div class="container p-5 w-100 text-center">
                <div>
                    <img [src]="getMovie((item.title ?? item.name) ?? item).poster_path ? iconUrl + getMovie((item.title ?? item.name) ?? item).poster_path : 'assets/logo.png'" alt="{{item}}"
                        class="img-fluid" loading="lazy" [routerLink]="[`/${itemType}-details`, getMovie((item.title ?? item.name) ?? item).id]" />
                </div>

                <c-carousel-caption class="text-light title-caption">
                    <span class="title-movie">{{ getMovie((item.title ?? item.name) ?? item).title ?? getMovie((item.title ?? item.name) ?? item).name }}</span>
                </c-carousel-caption>
            </div>
            <div class="d-flex justify-content-center">
                <button [routerLink]="[`/${itemType}-details`, getMovie((item.title ?? item.name) ?? item).id]" class="btn search-btn">
                    View Details
                </button>
            </div>
        </c-carousel-item>
        }
    </c-carousel-inner>
    <c-carousel-control caption="Previous" direction="prev" />
    <c-carousel-control caption="Next" direction="next" />
</c-carousel>
}
