img {
    height: 480px;
    border: 4px solid rgba(255, 0, 0, 0.356);
}

.my-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.my-container iframe.video {
    max-width: 100%;
    /* responsive iframe */
    height: 300px;
    /* αναλογία */
}

@media screen and (max-width: 560px) {

    .my-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }

    .my-container {
        width: 90%;
        box-sizing: border-box;
    }

    .my-container iframe.video {
        width: 100%;
        height: 400px;
    }

    .my-container img {
        width: 100%;
        height: auto;
    }

}